<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--service data setting-->
    <!--伺服器類型-->
    <!--SFTP-->
    <!--<add key="ProtocolType" value="SFTP"/>-->
    <!--FTP-->
    <add key="ProtocolType" value="FTP"/>
    <!--伺服器位址IP或domain name-->
    <!--SFTP-->
    <!--<add key="HostName" value="127.0.0.1"/>-->
    <!--FTP-->
    <add key="HostName" value="192.168.0.227"/>
    <!--登入帳號-->
    <!--SFTP-->
    <!--<add key="UserName" value="joychen"/>-->
    <!--FTP-->
    <add key="UserName" value="ftpuser"/>
    <!--登入密碼-->
    <!--SFTP-->
    <!--<add key="Password" value="joychen"/>-->
    <!--FTP-->
    <add key="Password" value="p2ssW1rd"/>
    <!--SFTP ssh host key-->
    <add key="SshHostKeyFingerprint" value="ssh-ed25519 256 e8:6d:e6:25:55:a8:b8:0e:38:d6:6c:98:1a:08:35:ac"/>
    <!--FTPS PORT-->
    <add key="PortNumber" value="21"/>
    <!--FTPS SSL-->
    <add key="TlsHostCertificateFingerprint" value="4d:d5:9e:b1:64:13:ce:fd:49:a9:d0:d1:ba:ae:9f:07:04:8d:e1:e4"/>    
    <!--FTPS Secure-->
    <!--<add key="FtpSecureType" value="Explicit"/>-->
    <add key="FtpSecureType" value="None"/>
    <!--操作動作(upload /download)-->
    <!--<add key="Operation" value="Download"/>-->
    <!--傳輸速度限制，0為不限速-->
    <add key="SpeedLimit" value="0"/>
    <!--本機資料路徑(上傳檔案的資料夾/下載檔案的資料夾)-->
    <add key="LocalPath" value="D:\TestFTP\operate\"/>
    <!--伺服器資料路徑(上傳檔案的資料夾/下載檔案的資料夾)-->    
    <add key="RemotePath" value="/operate/"/>
    
    <!--上傳/下載的檔案清單-->
    <add key="XmlFilePath" value="D:\TestFTP\tmp\"/>

    <!--上傳/下載的檔案清單-->
    <add key="FinishXMLFilePath" value="C:\Users\joychen\Desktop\"/>
  </appSettings>
</configuration>